/* #00B1D2FF */
/* #FDDB27FF */


@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

body {
    background-color: #3C1A5B;
}


* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

/* .form_tag > * {
    display: block  ;
} */
.main_heading {
    font-size: 40px;
    /* color: #FFF748; */
    /* text-shadow: -2px -2px 5px #000000; */
    margin: 0 auto;
    text-align: center;
}

.main_page {
    /* box-shadow: 2px 2px 15px 0 #e5e5e5; */
    /* background-color: #FFF748; */
    width: 60%;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 20px;
    margin-bottom: 2%;
    padding: 10px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}
/* sadiq css  */
label {
    width: 180px;
    display: inline-block;
    font-size: 16px;
}
.form_tag span {
    font-size: 16px;
}


/* end  */
#name_input, #fName_input, #cnic_input, #age_input, #dob_input, #phone_input, #address_input, #email_input {
    /* box-shadow: 2px 2px 15px 0 black; */
    border: none;
    width: 70%;
    height: 30px;
    border-bottom: 2px solid #3c1a5b;
}
input:focus {
    outline: none;
}


.admin_link {
    text-decoration: none;
    color: black;
}

.submit_button {
    width: 50%;
    height: 50px;
    margin-left: 25%;
    margin-bottom: 2%;
    background-color: #3C1A5B;
    border: none;
    font-size: 20px;
    color: #fff;
}

/* .admin_button {
    width: 30%;
    height: 50px;
    margin-left: 35%;
    background-color: #FFF748;
    border: none;
    font-size: 20px;
} */
.adimin {
    text-align: right;
}
button.admin_button {
    border: none;
    background: none;
    font-size: 18px;
    color: #3c1a5b !important;
    font-family: 'poppins';
    font-weight: 400;
    cursor: pointer;
}
.submit_button:active {
    opacity: 50%;
}


/* Radio Button */
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 3.33333px;
    bottom: 0;
    left: 7px;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #3C1A5B;
}

.option-input:checked::before {
    width: 40px;
    height: 40px;
    display: flex;
    content: '';
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: 'Font Awesome 5 Free';
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0 d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}


@media screen and (max-width:600px) {
    .main_page {

        width: 95%;
        margin: 10px;
    }
    #name_input, #fName_input, #cnic_input, #age_input, #dob_input, #phone_input, #address_input, #email_input {
        width: 100%;
    }
    
}